



<div class="container">
        <a routerLink="/registeredCourses" class="btn btn-primary m-2">My courses</a>
        <a routerLink="/createCourseByInstructor" class="btn btn-primary m-2">Create Course</a>
        <a routerLink="/myCoursesList" class="btn btn-primary m-2">My Course List</a>
        <a routerLink="/CoursesByWorkspaces" class="btn btn-primary m-2">Courses Made By Workspaces</a>
    <div class="row mt-5">
        <div class="col-md-4" *ngFor="let course of courses">
    <div class="card mb-2 text-center">
      <img class="card-img-top m-auto p-2" src="{{course.imageUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
         <div class="row central">
            <p >By:</p>
        <p class="text-primary">{{course.nameOfInstructor}}</p>
         </div>
         <div class="row central2">
            <p >Start date:</p>
        <p class="text-danger">{{course.startDate}}</p>
         </div>
         <div class="row central3">
             <i class="fas fa-thumbs-up"  (click)="likeCourse(course.offeredCourseId,course.publishedDate)"></i>
        <p>{{course.numberOfLikes}}</p> &nbsp; <i class="fas fa-comments" ></i> <p>{{course.numberOfComments}}</p>
         </div>

         <button *ngIf="course.registered==false" (click)="register(course.offeredCourseId,course.publishedDate)">Register</button>
         <button   *ngIf="course.registered==true" (click)="unRegister(course.offeredCourseId,course.publishedDate)">Unregister</button>
     <br><br>    <a routerLink="/singleCourse" (click)="details(course)"class="btn btn-primary">details</a>

        </div>
    </div>
    </div>
</div>
</div>