<div class="search mt-5">
  
  <input class="text-center"placeholder="Search ">
  <span class="fa fa-search"></span>
</div>


<div class="unitedall mt-5 p-5">

<div class="container pt-3">
  <div class="row ">
  <div class="card pt-5 col-md-4 text-center mb-1" style="width: 18rem;">
    <img class="card-img-top" src="../assets/imgs/Asset 1xxhdpi.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Painting</h5>
      <div class="row centra1">
      <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
    </div>
    <div class="row centra2">
      <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
    </div>
    </div>
  </div>


  <div class="card  pt-5 col-md-4 text-center mb-1 " style="width: 18rem;">
    <img class="card-img-top" src="../assets/imgs/Asset 2xxhdpi.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Painting</h5>
        <div class="row centra1">
        <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
      </div>
      <div class="row centra2">
        <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
      </div>
      </div>
  </div>


  <div class="card pt-5 col-md-4 text-center mb-1 " style="width: 18rem;">
    <img class="card-img-top" src="../assets/imgs/Asset 3xxhdpi.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Painting</h5>
        <div class="row centra1">
        <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
      </div>
      <div class="row centra2">
        <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
      </div>
      </div>
  </div>
</div>
</div>









<div class="container">
    <div class="row">
    <div class="card pt-5 col-md-4 text-center mb-1" style="width: 18rem;">
      <img class="card-img-top" src="../assets/imgs/Asset 1xxhdpi.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Painting</h5>
        <div class="row centra1">
        <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
      </div>
      <div class="row centra2">
        <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
      </div>
      </div>
    </div>
  
  
    <div class="card  pt-5 col-md-4 text-center mb-1" style="width: 18rem;">
      <img class="card-img-top" src="../assets/imgs/Asset 2xxhdpi.png" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Painting</h5>
          <div class="row centra1">
          <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
        </div>
        <div class="row centra2">
          <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
        </div>
        </div>
    </div>
  
  
    <div class="card pt-5 col-md-4 text-center mb-1" style="width: 18rem;">
      <img class="card-img-top" src="../assets/imgs/Asset 3xxhdpi.png" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Painting</h5>
          <div class="row centra1">
          <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
        </div>
        <div class="row centra2">
          <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
        </div>
        </div>
    </div>
  </div>
  </div>




















  <div class="container">
      <div class="row">
      <div class="card pt-5 col-md-4 text-center mb-1 " style="width: 18rem;">
        <img class="card-img-top" src="../assets/imgs/Asset 1xxhdpi.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Painting</h5>
          <div class="row centra1">
          <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
        </div>
        <div class="row centra2">
          <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
        </div>
        </div>
      </div>
    
    
      <div class="card  pt-5 col-md-4 text-center mb-1 pl-2" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imgs/Asset 2xxhdpi.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Painting</h5>
            <div class="row centra1">
            <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
          </div>
          <div class="row centra2">
            <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
          </div>
          </div>
      </div>
    
    
      <div class="card pt-5 col-md-4 text-center pb-2 pl-2" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imgs/Asset 3xxhdpi.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Painting</h5>
            <div class="row centra1">
            <p class="card-text">By:</p><p class="text-primary ">salma kassem</p>
          </div>
          <div class="row centra2">
            <p class="card-text">Start date:</p><p class="text-danger">30 may 2018</p>
          </div>
          </div>
      </div>
    </div>
    </div>
  </div>