.centra1{
    margin-left: 90px;
}
.centra2{
    margin-left: 65px;
}
.unitedall{
    background-color: #c1c1c1;
    img{
        width:100px;
        height:100px;
        margin-left: 125px;
    }
}

.search {
    position: relative;
    border:none;
    font-size: 16px;
    margin-left:520px;
  }
  
  
  .search input {
    width: 250px;
    height: 32px;
  border:none;
    background: #c1c1c1;
    
    border-radius: 16px;
    
  }
  
  .search input { text-indent: 32px;}
  .search .fa-search { 
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    color:black;
  }
