<div class="container">
  <div class="row mt-5">
    <div class="col-md-4" *ngFor="let course of singelCourse">
        <img class="card-img-top m-auto p-2" src="{{course.imageUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</h5>
          <p class="card-text">{{course.description}}</p>
          <div *ngIf="course.requested">

            <a routerLink="/CourseDetailas" (click)="cancel(course.offeredCourseId)"class="btn btn-primary">Cancel</a>
          </div>
          <div *ngIf="!course.requested">
          <a routerLink="/CourseDetailas" (click)="request(course.offeredCourseId)"class="btn btn-primary">Request</a>
        </div>
        </div>
    </div> 
  </div>
 </div> 