img {
    width:100px;
    height:100px;
}
.final{
    background-color: #FFCD00;
    width:300px;
  font-weight: 700;
    color:#1D5875;
    border-radius: 0%;
  }
  .final:hover{
    color:white;
    background-color: #439FDE;
    width:200px;
   
    color:white;
    border-radius: 0%;
  }
  .main{
    color:#439FDE;
    font-family: "roboto";
}