<!---header section-->

<div class="opening">
    <div class="container">
    <div class="row">
    <div class="col-md-5 textanimation">
      <p class="text-center small">what ever your</p>
      <div class="textcontainer">
      <h1>TALENT</h1>
    </div>
      <p class="text-center small">we can find a suitable</p>
      <div class="textcontainer">
      <h1>COURSE</h1>
      </div>
      <p class="text-center small">for you my friend</p>
    </div>
  <div class="boxy col-md-7">
    <figure class="fory" >
     <img class=" wow zoomInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" src="../assets/imgs/46f7dd2e654ad3387e0d6dd6a5765180.jpg"/>
  </figure>
  <figure class="fory" >
  <img class=" wow zoomInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" src="../assets/imgs/ddec59bc7d4f86441ca2f0568d2f8658.jpg"/>
  </figure>
  <figure class="fory" >
     <img class=" wow zoomInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" src="../assets/imgs/b711a6d44d6c4fa1ea4f815487c2ab8a.jpg"/>
  </figure>
  <figure class="fory" >
    <img class=" wow zoomInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" src="../assets/imgs/47b2d1df80bf34b99ae69719b81d0932.jpg"/>
  </figure>
  
  
  </div>
  </div>
  </div>
  </div>
  <!---end of header section-->
  
  
  
  <div class="bgcover">
  <!---welcome section-->
  <section class="welcome p-5">
  <div class="container">
    <div class="row">
      <!---right side-->
      <div class="col-md-4 lefta text-center ">
        
        <h3>Become an instructor </h3>
        <p>It is a long established fact that a reader will be distracted by the </p>
        <button class="btn btn-lg final"> Instructor</button>
      
    </div>
      <!---end of right side-->
      <!---middle section-->
      <div class="col-md-4 ">
        <img src="../assets/imgs/good.gif"/>
        </div>
      
<!---middle section-->
      <!---left side-->
      <div class="col-md-4 righta text-center  ">
          
        <h3>You have a workspace</h3>
        <p>It is a long established fact that a reader will be distracted by the </p>
        <button class="btn btn-lg final ">Host courses</button>
      
      
      <!---end of left side-->
  
    </div>
  </div>
  </div>
  </section>
  <!---end of welcome section-->
  
  
  
  <!---about section-->
  
  
  <section class="aboutmain mt-5 mb-5 ">
    <div class="area">ABOUT</div>
    <div class="container">
      <div class="row">
    <!---right side -->
    <p class="col-md-6 abouttext"> We are providing an intersection point among workspaces which are ready to host courses,Instructors who are willing to provide teaching and people who are eager to learn </p>
      <!---end of right side -->
    <!---svg side -->
  
    <img  class="col-md-4 svgani"src="../assets/imgs/walkingboy.png"/>
  
  
  <!---end of svg side -->
  </div>
  </div>
  </section>
  <!---end of about-->
  
  
  
  
  
  
  
  
  <!---courses section -->
  <section id="courses"class="mb-5">
    <h3 class="text-center mb-5">Our popular courses</h3>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="container">
        <div class="row ml-4">
            <div class="col-md-4 ">
              <div class="wrapper">
                <img  src="../assets/imgs/609030-636402179425109240-16x9.jpg" alt="First slide">
                <div class="overlay">
                    <div class="text">start in july</div>
                  </div>
  
              </div>
  
                <p class=" textuni"><strong>Category:</strong>css</p>
                <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
              </div>
              <div class="col-md-4">
                <div class="wrapper">
                  <img class="d-block" src="../assets/imgs/5.jpg" alt="First slide">
                  <div class="overlay">
                      <div class="text">start in july</div>
                    </div>
  
                </div>
                  <p class=" textuni"><strong>Category:</strong>Laraval</p>
                  <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
                 </div>
                <div class="col-md-4">
                  <div class="wrapper">
                    <img class="d-block" src="../assets/imgs/nodejs-1280x1024-100453402-primary.idge.jpg" alt="First slide">
                    <div class="overlay">
                        <div class="text">start in july</div>
                      </div>
  
                    </div>
  
                    <p class=" textuni"><strong>Category:</strong>node.js</p>
                    <p class=" text-left textuni2 bgu"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
                  </div>
  
  
       </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="container">
        <div class="row ml-4">
    <div class="col-md-4">
       <div class="wrapper">
        <img class="d-block" src="../assets/imgs/php-7-up-and-running.jpg" alt="First slide">
        <div class="overlay">
            <div class="text">start in july</div>
          </div>
  
      </div>
        <p class=" textuni"><strong>Category:</strong>php</p>
          <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
          </div>
      <div class="col-md-4">
         <div class="wrapper">
          <img class="d-block" src="../assets/imgs/toptal-blog-image-1518187252525-03f6db7b1c131066061024c236c7e3ff.png" alt="First slide">
          <div class="overlay">
              <div class="text">start in july</div>
            </div>
  
        </div>
  
          <p class=" textuni"><strong>Category:</strong>Angular</p>
  
          <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
         </div>
        <div class="col-md-4">
          <div class="wrapper">
            <img class="d-block" src="../assets/imgs/mysql-graphic.png" alt="First slide">
            <div class="overlay">
                <div class="text">start in july</div>
              </div>
  
          </div>
            <p class=" textuni"><strong>Category:</strong>mysql</p>
          <p class=" text-left textuni2 bgu"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
         </div>
  </div>
  </div>
  
    </ng-template>
    <ng-template ngbSlide>
      <div class="container">
        <div class="row ml-4">
    <div class="col-md-4">
      <div class="wrapper">
        <img class="d-block" src="../assets/imgs/pexels-photo-669615 (1).jpeg" alt="First slide">
        <div class="overlay">
            <div class="text">start in july</div>
          </div>
  
        </div>
  
        <p class=" textuni"><strong>Category:</strong>management</p>
        <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
  
      </div>
      <div class="col-md-4">
        <div class="wrapper">
          <img class="d-block" src="../assets/imgs/blur-cellphone-close-up-196644.jpg" alt="First slide">
          <div class="overlay">
              <div class="text">start in july</div>
            </div>
  
        </div>
          <p class=" textuni"><strong>Category:</strong>UI/UX</p>
          <p class=" text-left textuni2"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
  
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <img class="d-block" src="../assets/imgs/p171c2cdpb1ol0nqrefquhbl829-details.jpg" alt="First slide">
            <div class="overlay">
                <div class="text">start in july</div>
              </div>
  
            </div>
            <p class=" textuni "><strong>Category:</strong>Illustration</p>
          <p class=" text-left textuni2 bgu"><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vero temporibus similique iure labore ullam. Soluta, reprehenderit officiis vel molestias maxime voluptate saepe incidunt maiores labore, quidem natus eveniet quis.</p>
  
          </div>
  </div>
  </div>
    </ng-template>
  </ngb-carousel>
  </section>
  
  
  <!---end of courses section -->
  
  
  <!---team-->
  <section id="team"class="mt-5">
  <h3 class="text-center mb-5">Our team</h3>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="container">
      <div class="row"><!---images-->
        <div class="col-md-4 ">
        <img  src="../assets/imgs/image (7).png" alt="First slide">
        <p class=" ml-5 textuni ">Rahada Fouad</p>
        <p class=" ml-5 textuni2">Front end developer</p>
      </div>
      <div class="col-md-4">
        <img  src="../assets/imgs/image.png" alt="First slide">
        <p class=" ml-5 textuni">Eman Ismail</p>
        <p class=" ml-5 textuni2">UI Designer</p>
      </div>
      <div class="col-md-4">
        <img  src="../assets/imgs/image (2).jpeg" alt="First slide">
        <p class="ml-5 textuni">Somaya Elsayed</p>
        <p class="ml-5 textuni2">UI Developer</p>
      </div>
  
  </div>
  </div>
  
  
    </ng-template>
    <ng-template ngbSlide>
      <div class="container">
      <div class="row"><!---images-->
        <div class="col-md-4">
          <img  src="../assets/imgs/image (2).png" alt="First slide">
          <p class=" ml-5 textuni">Mina Yousry</p>
          <p class=" ml-5 textuni2">Mobile Developer</p>
        </div>
        <div class="col-md-4">
          <img  src="../assets/imgs/image (1).jpeg" alt="First slide">
          <p class=" ml-5 textuni">Nourhan Ali</p>
          <p class=" ml-5 textuni2">Web Developer</p>
        </div>
        <div class="col-md-4">
          <img  src="../assets/imgs/image.jpeg" alt="First slide">
          <p class=" ml-5 textuni">Asmaa Hassan</p>
          <p class="ml-5 textuni2">Mobile Developer</p>
        </div>
  </div>
  </div>
  
    </ng-template>
    <ng-template ngbSlide>
      <div class="container">
      <div class="row"><!---images-->
        <div class="col-md-4">
          <img  src="../assets/imgs/image (4).png" alt="First slide">
          <p class=" ml-5 textuni">Shimaa Samir</p>
          <p class=" ml-5 textuni2">Mobile Developer</p>
        </div>
        <div class="col-md-4">
          <img  src="../assets/imgs/image (1).png" alt="First slide">
          <p class=" ml-5 textuni">Alaa Mohamed</p>
          <p class=" ml-5 textuni2">Mobile Developer</p>
        </div>
        <div class="col-md-4">
          <img  src="../assets/imgs/image (3).png" alt="First slide">
          <p class=" ml-5 textuni">Abanoub Samy</p>
          <p class="ml-5 textuni2">Web Developer</p>
        </div>
      </div>
    </div>
  
    </ng-template>
  </ngb-carousel>
  </section>
  </div>
  <!---end of team-->
  